##################################################################
# Licensed Materials - Property of IBM
# (C) Copyright IBM Corporation 2020 - 2022. All Rights Reserved.
#
# Note to U.S. Government Users Restricted Rights:
# Use, duplication or disclosure restricted by GSA ADP Schedule
# Contract with IBM Corp.
##################################################################

excludes=**/.*, **/node_modules, **/src/test, **/testdata, **/*sources.jar, **/*javadoc.jar, **/go.*, **/DEPENDENCIES.md, **/*.go

resolveAllDependencies=false

go.resolveDependencies=false
go.collectDependenciesAtRuntime=false
#go.dependencyManager=
go.ignoreSourceFiles=true
#go.glide.ignoreTestPackages=false
#go.gogradle.enableTaskAlias=true

go.modules.resolveDependencies=false
go.modules.ignoreSourceFiles=true
go.modules.removeDuplicateDependencies=true
go.modules.includeTestDependecies=false

npm.resolveDependencies=false
npm.ignoreSourceFiles=true
npm.includeDevDependencies=false
npm.runPreStep=false
npm.ignoreNpmLsErrors=true
npm.ignoreScripts=true
npm.yarnProject=false
#npm.accessToken=
npm.identifyByNameAndVersion=true
npm.yarn.frozenLockfile=true
npm.resolveMainPackageJsonOnly=true
npm.removeDuplicateDependencies=true
npm.resolveAdditionalDependencies=false
#npm.failOnNpmLsErrors = 
#npm.projectNameFromDependencyFile=
npm.resolveGlobalPackages=false					   
npm.resolveLockFile=false
